* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 font-weight: lighter;
 font-size: 12px;
}

body{
  background-color: #009688;
}

/* default */
a{
  text-decoration: none;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  min-width: 992px;
  height: calc(100vh - 40px);
  margin: 20px auto;
}

.list-inline{
 display: flex;
 list-style: none;
}
.template_slide.d_none{
  display: none;
}
.template_input_text.d_none{
  display: none;
}

.template_slide.active{
  background-color: #e9ebeb;
}

/* TEMPLATE */
.template_slide{
  display: flex;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e9ebeb;
  border-bottom: 1px solid #e9ebeb;
  background-color: #fff;
  cursor: pointer;
}
.template_slide_info_text_wrapper_top{
  display: flex;
  justify-content: space-between;
}
.template_slide_info_text_wrapper_top h4{
  font-weight: 500;
}
.template_slide_info_text_wrapper_top span{
  font-size: 10px;
  color: #888;
}

.template_slide_info_wrapper p{
  font-size: 10px;
  color: #888;
}
img.avatar{
  width: 60px;
  padding: 5px;
  border-radius: 50%;
}
.template_slide_info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  width: calc(100% - 50px);
}


/* section */
.aside_nav, .text_area{
  height: 100%;
}
/* NAV */
nav.aside_nav{
  width: 30%;
}

/* NAV HEADER ASIDE*/
nav .header_aside_nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #eaeaea;
}

.img_account img.avatar{
  width: 50px;
  height: 100%;
}
/* HEADER LEFT PANEL */
.panel_account{
  width: 100px;
}

.panel_account ul li{
  display: flex;
  width: calc(100% / 3);
  height: 50px;
}

.panel_account ul li a{
  margin: auto;

}
.panel_account ul li a i{
  font-size: 16px;
  color: #b1b1b1;
}

/* NOTIFICATION  */
nav .notifications{
  display: flex;
  height: 60px;
  background-color: #8edafc;
}
.img_notifications_container{
  display: flex;
  width: 60px;
  height: 60px;
}
.img_notifications_container i{
  margin: auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #8edafc;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.text_notifications_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text_notifications_container h4{
  font-weight:500;
}
.text_notifications_container p{
  margin-top: 2px;
  font-size: 11px;
  color: #888;
  text-decoration: underline;
}

/* SEARCH BAR */
nav .search_bar{
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px;
  background-color: #fafafa;
}

.search_bar .search_icon{
  width: 20%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  color: #888;
}

.search_bar input{
  width: 80%;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  border-left: 0;
  color: #888;
}

/* CONTACT LIST */
nav .contact_list{
  height: calc(100% - 150px);
  background-color: #fff;
  overflow: scroll;
}
nav .contact_list ul{
  list-style: none;
}


/* MESSAGE AREA */
.message_contact_area{
  width: 70%;
  background-color: #fff;
}

/* MESSAGE AREA SECTIONs */

/* HEADER CONTACT AREA */
.message_contact_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.message_contact_header_left{
  display: flex;
}
.message_contact_header_left_info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.message_contact_header_left_info h4{
  font-weight: 500;
}

.message_contact_header_left_info p{
  font-size: 10px;
  color: #888;
}
.contact_panel_account ul li{
  padding: 0 10px;
}

.contact_panel_account ul li a i{
  font-size: 16px;
  color: #b1b1b1;

}


/* MAIN CONTACT AREA */
.message_contact_main{
  height: calc(100% - 100px);
  padding: 30px;
  background-image: url(../img/mine.jpg);
}

/* TEMPLATE MESSAGE CONTACT LI */
.text_input{
  list-style: none;
}
li.input_text{
  display: flex;
  background-color: green;
}
.input_text .cloud_text{
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
}
/* green */
li.input_text.green{
    justify-content: flex-end;
}
li.input_text.green .cloud_text{
  background-color: #d5f9ba;
}
/* white */
li.template_input_text.white{
  justify-content: flex-start;
}
li.template_input_text.white .cloud_text{
  background-color: #fff;
}

/* TEXT INPUT CONTACT AREA */
.message_contact_input_text{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  background-color: #f3eeea;
  color: #6b7376;
}
.message_contact_input_text input{
  width: 80%;
  height: 35px;
  padding: 5px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 10px;
}
.emoticon_container{
  width: 10%;
  text-align: center;
}
.emoticon_container i{
  font-size: 20px;
}
.send_button_container{
  width: 10%;
  text-align: center;
}
#send_button {
  color: #6b7376;
}
#send_button i{
  font-size: 20px;
}

/* FOCUS INPUT AREA */
.send_button_container .fa-paper-plane{
  display: none;
}
.message_contact_input_text input:focus ~ .send_button_container .fa-paper-plane{
  display: block;
}
.send_button_container .fa-microphone{
  display: block;
}
.message_contact_input_text input:focus ~ .send_button_container .fa-microphone{
  display: none;
}
