* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 font-weight: lighter;
 font-size: 12px;
}

body{
  background-color: #009688;
}

/* default */
a{
  text-decoration: none;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  min-width: 992px;
  height: calc(100vh - 40px);
  margin: 20px auto;
}

.list-inline{
 display: flex;
 list-style: none;
}

/* TEMPLATEs */
.template{
  display: none;
}

.contact.active{
  background-color: #e9ebeb;
}

.contact{
  display: flex;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e9ebeb;
  border-bottom: 1px solid #e9ebeb;
  background-color: #fff;
  cursor: pointer;
}
.contact_info_top{
  display: flex;
  justify-content: space-between;
}

.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  width: calc(100% - 50px);
}

h4.contact_name{
  font-weight: 500;
}
span.last_typed_time{
  font-size: 10px;
  color: #888;
}

p.last_typed_message{
  font-size: 10px;
  color: #888;
}
.avatar{
  width: 60px;
  padding: 5px;
  border-radius: 50%;
}


/* section */
.aside_nav, .text_area{
  height: 100%;
}
/* NAV */
.aside_nav{
  width: 30%;
}

/* NAV HEADER ASIDE*/
.aside_nav .header{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #eaeaea;
}
/* /NAV HEADER ASIDE*/

.img_account .avatar{
  width: 50px;
  height: 100%;
}
/* HEADER ACCOUNT PANEL */
.panel_account{
  width: 100px;
}

.panel_account ul li{
  display: flex;
  width: calc(100% / 3);
  height: 50px;
}

.panel_account ul li a{
  margin: auto;

}
.panel_account ul li a i{
  font-size: 16px;
  color: #b1b1b1;
}
/* /HEADER ACCOUNT PANEL */


/* NOTIFICATION  */
.aside_nav .notifications{
  display: flex;
  height: 60px;
  background-color: #8edafc;
  cursor: pointer;
}
.img_notifications{
  display: flex;
  width: 60px;
  height: 60px;
}
.img_notifications i{
  margin: auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #8edafc;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.text_notifications{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text_notifications h4{
  font-weight:500;
}
.text_notifications p{
  margin-top: 2px;
  font-size: 11px;
  color: #888;
  text-decoration: underline;
}
/* /NOTIFICATION  */


/* SEARCH BAR */
.aside_nav .search_bar{
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px;
  background-color: #fafafa;
}

.search_bar .search_icon{
  width: 20%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  color: #888;
}

.search_bar input{
  width: 80%;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  border-left: 0;
  color: #888;
}
/* /SEARCH BAR */


/* CONTACT LIST */
.aside_nav .contact_list{
  height: calc(100% - 150px);
  background-color: #fff;
  overflow-y: scroll;
}
.aside_nav .contact_list ul{
  list-style: none;
}
/* /CONTACT LIST */

/* NAV */

/* MESSAGE AREA */
.chat{
  width: 70%;
  background-color: #fff;
}

/* MESSAGE AREA SECTIONs */

/* HEADER CONTACT AREA */
.chat_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
/* LEFT */
.chat_header_left{
  display: flex;
}
.chat_header_left_info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.chat_header_left_info h4{
  font-weight: 500;
}

.chat_header_left_info p{
  font-size: 10px;
  color: #888;
}
/* RIGHT */
.chat_header_right ul li{
  padding: 0 10px;
}

.chat_header_right ul li a i{
  font-size: 16px;
  color: #b1b1b1;

}
/* /HEADER CONTACT AREA */

/* MAIN CONTACT AREA */
.chat_main{
  height: calc(100% - 100px);
  padding: 30px;
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

/* TEMPLATE MESSAGE CONTACT LI */
.chat_screen{
  list-style: none;
}
.chat_screen .message_row{
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}
.chat_screen .message_text{
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
  word-break: break-all;
  background-color: #fff;
}

/* SENT MESSAGE */
.chat_screen .message_row.sent{
    justify-content: flex-end;
}
.chat_screen .message_row.sent .message_text{
  background-color: #d5f9ba;
}


/* TEXT INPUT  AREA */
.chat_footer{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  background-color: #f3eeea;
  color: #6b7376;
}
.chat_footer input{
  width: 80%;
  height: 35px;
  padding: 5px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 10px;
}
.emoticons{
  width: 10%;
  text-align: center;
}
.emoticons i{
  font-size: 20px;
}
.send_button_container{
  width: 10%;
  text-align: center;
}
#send_button {
  color: #6b7376;
}
#send_button i{
  font-size: 20px;
}
/* /TEXT INPUT  AREA  */


/* FOCUS INPUT AREA */
.send_button_container .fa-paper-plane{
  display: none;
}
.chat_footer input:focus ~ .send_button_container .fa-paper-plane{
  display: block;
}
.send_button_container .fa-microphone{
  display: block;
}
.chat_footer input:focus ~ .send_button_container .fa-microphone{
  display: none;
}
